body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #F4F4F4;
    color: #000;
    padding: 30px;
    padding-bottom: 25px;
    text-align: left;
    position: relative;
  }
  

  h1 {
    padding-bottom: 20px;
  } 
  
  #about p {
    line-height: 1.4;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .contact-info {
    margin-bottom: 10px;
    line-height: 0.8;
  }
  
  .contact-info a {
    color: #555;
  }
  
  .university {
    color: rgba(202, 152, 73, 1);
  }
  
  .place {
    color: rgba(94, 135, 201, 1);
  }
  
  #school-info {
    margin-bottom: 20px;
  }
  
  .dash, .dates,
  .major-info,
  .minor-info {
    color: #555;
  }
  
  .major, .minor {
    font-weight: bold;
  }
  
  #major-minor {
    margin-bottom: 5px;
  }

  .education-info {
    margin-bottom: 10px;
  }
  
  #products p {
    margin-top: 10px;
  }
  
  .hps-title {
    color: #DE9A51;
  }
  
  .hps-info, .cadent-info, .usb-info {
    color: #555;
  }
  
  .cadent-title {
    color: #23EBF0;
  }
  
  .usb-title {
    color: #CC162B;
  }
  
  h1 {
    margin: 0;
  }
  
  .title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .title-wrapper h1,
  .title-wrapper p {
    margin: 0;
    text-align: center;
  }
  
  .toggle {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .toggle img {
    height: 30px;
    width: 30px;
    margin: 0;
  }
  
  .box {
    background-color: #4818ca;
    border: 1px solid #dddddd;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 1px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  
  footer {
    background-color: transparent;
    color: #000;
    padding: 20px;
  }
  
  /* Light Mode Styles */
  body.light {
    background-color: #ffffff;
    color: #000;
  }
  
  body.light header {
    background-color: #f4f4f4;
  }
  
  body.light .toggle img {
    filter: invert(0);
  }
  
  body.light .box {
    background-color: #f4f4f4;
    border: none;
    border-radius: 5px;
    color: #000;
  }
  
  /* Dark Mode Styles */
  body.dark {
    background-color: #121212;
    color: #fff;
  }
  
  body.dark header {
    background-color: #292929;
    color: #ffffff;
  }
  
  body.dark .toggle img {
    filter: invert(1);
  }
  
  body.dark .box {
    background-color: #292929;
    border: none;
    border-radius: 5px;
    color: #fff;
  }
  
  body.dark .contact-info a {
    color: #c0c0c0;
  }
  
  body.dark .dates,
  body.dark .major-info,
  body.dark .minor-info,
  body.dark .dash {
    color: #c0c0c0;
  }
  
  body.dark .hps-info, body.dark .cadent-info, body.dark .usb-info {
    color: #c0c0c0;
  }
  
  body.dark footer {
    color: #ffffff;
  }
  
  .center {
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .title-wrapper h1 {
      font-size: 24px;
    }
  
    .title-wrapper p {
      font-size: 14px;
    }
  
    .box {
      max-width: 90%;
    }
  }
  